<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <processors>
      <uiUpload>
        <processor mode="on" type="Sitecore.Pipelines.Upload.Save, Sitecore.Kernel" set:type="Sitecore.Support.Pipelines.Upload.Save, Sitecore.Support.322141" />
      </uiUpload>
    </processors>
  </sitecore>
</configuration>